[submodule ".config/vim/pack/css-color/start/vim-css-color"]
	path = .config/vim/pack/css-color/start/vim-css-color
	url = https://github.com/ap/vim-css-color
    ignore = dirty
[submodule ".config/vim/pack/coc/start/coc.nvim"]
	path = .config/vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
    ignore = dirty
[submodule ".config/vim/pack/gruvbox/start/gruvbox"]
	path = .config/vim/pack/gruvbox/start/gruvbox
	url = https://github.com/morhetz/gruvbox
    ignore = dirty
[submodule ".config/vim/pack/nerdtree/start/nerdtree"]
	path = .config/vim/pack/nerdtree/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim-airline"]
	path = .config/vim/pack/airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
